<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1VWnNJ2VUnBUMbl9CDzm9IwGlL6yhHIw</string>
	<key>GCM_SENDER_ID</key>
	<string>1075339147750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demRecipMobile</string>
	<key>PROJECT_ID</key>
	<string>demrecipmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>demrecipmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075339147750:ios:dc874ae88ad62891ad7e27</string>
</dict>
</plist>